---
layout: page
title : Blog
header : Xorcode Blog
group: navigation
---
{% include JB/setup %}

<div class="content">
  {% for post in site.posts %}
    {% capture mod %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
    {% if mod == "0" %}
      {% if forloop.index0 > 0 %}
  </div>
      {% endif %}
  <div class="row-fluid posts">
    {% endif %}
    <div class="span4">
      <h2><a href="{{  BASE_PATH }}{{ post.url }}">{{ post.title }}</a><small>{{ post.categories[0] }}</small></h2>
      <p><small>{{ post.date | date:"%b %d, %Y" }} | <a href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"><span class="dsq-postid" rel="{% if post.wordpress_id %}{{ post.wordpress_id }} {{post.wordpress_url }}{% else %}{{ site.production_url }}{{ post.url }}{% endif %}">No Comments</span></a></small></p>
      <p>{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content | strip_html | truncatewords:40 }}{% endif %}</p>
      <ul class="tag_box">
      {% assign tags_list = post.tags %}
      {% include JB/tags_list %}
      </ul>
      <p><a class="btn btn-js" href="{{ BASE_PATH }}{{ post.url }}">Read More</a></p>
    </div>
  {% if forloop.last %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% include disqus_comment_loader %}
