---
layout: home
title: Xorcode
---
{% include JB/setup %}

<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>You started using tools 800,000 years ago</h1>
      <h2>Welcome to the evolution of your toolbox</h2>
      <p>Much as our early ancestors used tools to bag their prey; we help you bag customers, and keep them. Xorcode delivers scalable web solutions such as integrated billing systems, content management systems, development tools, as well as plugins and complete customizations for WordPress, Drupal, and other CMS software.</p>
      <p><a class="btn btn-primary btn-large" href="{{BASE_PATH }}services.html">Learn more &raquo;</a></p>
    </div>
  </div>
</div>

<div class="row-fluid posts">
  {% for post in site.posts limit:2 offset:0 %}
  <div class="span4">
    <h2><a href="{{  BASE_PATH }}{{ post.url }}">{{ post.title }}</a> <small>{{ post.categories }}</small></h2>
    <p><small>{{ post.date | date:"%b %d, %Y" }} | <a href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"><span class="dsq-postid" rel="{% if post.wordpress_id %}{{ post.wordpress_id }} {{post.wordpress_url }}{% else %}{{ site.production_url }}{{ post.url }}{% endif %}">No Comments</span></a></small></p>
    <p>{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content | strip_html | truncatewords:40 }}{% endif %}</p>
    <ul class="tag_box">
    {% assign tags_list = post.tags %}
    {% include JB/tags_list %}
    </ul>
    <p><a class="btn btn-js" href="{{ BASE_PATH }}{{ post.url }}">Read More</a></p>
  </div>
  {% endfor %}
  <div class="span4">
    <h2>Recent Articles</h2>
    <p>Here are a few of our latest articles:</p>
    <ul class="nav nav-list">
    {% for post in site.posts limit:10 offset:2 %}
      <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <p>For more content, please see our <a href="{{ BASE_PATH}}blog.html">full archive</a>.</p>
  </div>
</div>
{% include disqus_comment_loader %}
